@import url('https://fonts.googleapis.com/css?family=Alegreya+SC:400,400i,500,700,700i,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap');
*,
ul,
h3,
h5,
p,
h4 {
    margin: 0;
    padding: 0;
}

.mycontainer {
    width: 85%;
    margin: 0 auto;
}


/* COMMON CSS */

#top-button {
    display: inline-block;
    background-color: #FF9800;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

#top-button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}

#top-button:hover {
    cursor: pointer;
    background-color: #333;
}

#top-button:active {
    background-color: #555;
}

#top-button.show {
    opacity: 1;
    visibility: visible;
}

span {
    color: #FAB713;
}

.travel-section-title {
    padding-bottom: 25px;
}

h3.travel-section-heading:before {
    position: absolute;
    content: '';
    height: 3px;
    width: 10%;
    background-color: #E61D20;
    left: 25%;
    top: 28%;
}

h3.travel-section-heading:after {
    position: absolute;
    content: '';
    height: 3px;
    width: 10%;
    background-color: #E61D20;
    right: 25%;
    top: 28%;
}

p {
    font-family: 'Roboto', 'sans-serif' ! important;
    color: #808080d1;
    font-size: 14px;
    line-height: 2;
    text-align: justify;
    letter-spacing: 0.5px;
}

.modal-header,
.modal-header h4,
.modal-header.close {
    background-color: #01499E;
    color: white !important;
    text-align: center;
    font-size: 30px;
}

.modal-footer {
    background-color: #f9f9f9;
}

input.form-control {
    padding: 6px 28px 6px 12px;
}

textarea {
    padding: 6px 28px 6px 12px;
}


/* COMMON CSS */


/* HEADER-TOP */

section.header-top {
    background-color: #ffffff;
    padding: 8px 0 8px;
}

section.header-top .header-top-contact {
    padding: 21px 0 21px;
    float: right;
}

section.header-top .header-top-contact ul li.hb {
    display: inline-block;
    list-style: none;
    border-left: 1px solid #ddd;
    padding-left: 35px;
    margin-left: 35px;
    vertical-align: text-top;
}

section.header-top .header-top-contact ul li.hb h5,
section.header-top .header-top-followus ul li.hb h5 {
    font-family: 'Alegreya SC', serif;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
}

section.header-top .header-top-contact ul li.hb p {
    line-height: 24px;
    font-weight: 400;
}

.header-top-contact ul li.hb p a {
    font-family: 'Roboto', 'sans-serif' ! important;
    color: #808080d1;
    font-size: 14px;
    line-height: 2;
    text-align: justify;
    letter-spacing: 0.5px;
}

.header-top-contact ul li.hb p a:hover {
    color: #FAB713;
}

section.header-top .header-top-followus {
    float: right;
    padding: 12px 0;
}

section.header-top .header-top-followus ul li.hb,
section.header-top .header-top-followus ul li.social-icons {
    list-style: none;
    display: inline-block;
    font-size: 25px;
}

section.header-top .header-top-followus ul li.social-icons i.fab.fa-facebook-square {
    color: #3b5998;
}

section.header-top .header-top-followus ul li.social-icons i.fab.fa-twitter-square {
    color: #00acee;
}

section.header-top .header-top-followus ul li.social-icons i.fab.fa-linkedin {
    color: #0077B5;
}


/* //HEADER-TOP */


/* NAVIGATION-MENU */

section.navigation .navbar {
    padding: 0;
    background-color: #01499E;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #12B5F8;
}


/* //NAVIGATION-MENU */


/* SLIDER */

section.slider {
    position: relative;
}

section.slider .owl-carousel .item img {
    width: 100%;
    height: 450px;
    object-fit: cover;
}

section.slider .owl-carousel .item .item-caption {
    position: absolute;
    top: 40%;
    left: 10%;
    color: #ffffff;
    font-weight: bold;
    font-size: 46px;
    text-transform: uppercase;
    font-family: 'Anton', sans-serif;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}

section.slider .owl-carousel .item .item-caption a {
    position: absolute;
    top: 50%;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    background-color: #FAB713;
    padding: 8px 13px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    margin-top: 35px;
}

section.slider .owl-carousel .item .item-caption a:hover {
    background-color: #E61D20;
}

section.slider .owl-carousel .item .item-caption span {
    color: #FAB713;
}

.owl-theme .owl-nav {
    margin-top: 0px ! important;
}

section.slider .owl-carousel .owl-nav .owl-prev,
section.slider .owl-carousel .owl-nav .owl-next {
    position: absolute;
    top: 45%;
    color: #ffffff;
}

section.slider .sliders .owl-nav .owl-prev {
    left: 0%;
    color: #ffffff ! important;
    background-color: #0e0f0fa8 ! important;
    outline: none;
}

section.slider .sliders .owl-nav .owl-next {
    right: 0%;
    color: #ffffff ! important;
    background-color: #0e0f0fa8 ! important;
    outline: none;
}

section.slider .sliders i.fa.fa-chevron-left,
section.slider .sliders i.fa.fa-chevron-right {
    padding: 20px;
    font-size: 25px;
}


/* //SLIDER */


/* TRIP-SEARCH */

.trip-search {
    position: absolute;
    width: 100%;
    bottom: 10%;
    left: 0;
    background-color: #00000091;
    z-index: 5;
    padding: 25px;
    right: 0;
    margin: 0 auto;
    max-width: 950px;
    display: flex;
}

.trip-search form {
    margin: 0 auto;
}

.trip-search form ul li {
    display: inline-block;
    margin-right: 15px;
}

.trip-search form ul li .travel-search {
    color: #ffffff;
    border-color: #FAB713;
    background-color: #00000091;
    font-family: 'Roboto', sans-serif;
    font-size: 14;
    padding: 12px 12px;
}

.trip-search form ul li .travel-search:hover {
    background-color: #E61D20;
    border-color: #E61D20;
}

.trip-search form ul li .input-group {}

.trip-search form ul li .input-group .input-group-prepend .input-group-text {
    background-color: #FAB713;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: white;
    border: 1px solid #FAB713;
}

.trip-search form ul li .input-group .input-group-prepend input.form-control {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.trip-search form ul li .input-group select#inputGroupSelect01 {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    height: 38px;
}


/* //TRIP-SEARCH */


/* WELCOME TO TRAVEL */

section.travel-welcome {
    padding: 35px 0 35px;
}

h3.travel-section-heading {
    font-family: 'Alegreya SC', serif;
    font-weight: 600;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    text-align: center;
}

section.travel-welcome .travel-welcome-desc {
    padding: 0 25px;
    text-align: justify;
    font-size: 14px;
    font-family: 'roboto', 'sans-serif';
    color: #808080d1;
}

section.travel-welcome .travel-welcome-desc p {
    padding-bottom: 20px;
}

section.travel-welcome .travel-welcome-desc a {
    text-decoration: none;
    list-style-type: none;
    font-family: 'roboto', 'sans-serif';
    background-color: #FAB713;
    font-size: 12px;
    color: #ffffff;
    padding: 10px 15px;
}

section.travel-welcome .travel-welcome-desc a:hover {
    background-color: #E61D20;
}


/* WELCOME TO TRAVEL */


/* FEATURED PACKAGES */

section.travel-featured-package {
    padding: 35px 0;
    background-color: #e5ecf5;
}

section.travel-featured-package #travel-featured-slider .card {
    cursor: inherit ! important;
}

section.travel-featured-package #travel-featured-slider .card h5.card-title {
    font-size: 16px;
    font-weight: 900;
    font-family: 'Roboto', 'sans-serif';
}

section.travel-featured-package #travel-featured-slider .card a:hover {
    background-color: #E61D20;
}

section.travel-featured-package #travel-featured-slider .card a {
    margin-top: 12px;
    display: block;
    color: yellow;
    text-align: center;
    background-color: #01499E;
    padding: 5px 10px;
    text-decoration: none ! important;
    list-style-type: none;
}

section.travel-featured-package #travel-featured-slider .card a small.text-muted {
    color: white ! important;
    font-family: 'Roboto', 'sans-serif';
    font-size: 12px;
}

#travel-featured-slider button.owl-prev {
    position: absolute;
    top: 45%;
    left: -2%;
    outline: none;
    height: 40px;
    width: 40px;
    color: #ffffff;
    border-radius: 50%;
    background-color: #FAB713;
}

#travel-featured-slider button.owl-next {
    position: absolute;
    top: 45%;
    right: -2%;
    outline: none;
    height: 40px;
    width: 40px;
    color: #ffffff;
    border-radius: 50%;
    background-color: #FAB713;
}


/* //FEATURED PACKAGES */


/* TRAVEL IN A VIDEO */

.travel-section-video {
    position: relative;
    padding: 35px 0;
    background: #00000080;
    background-blend-mode: multiply;
    background-image: url('http://travel.maheswor.com.np/travel/wp-content/uploads/2019/08/bann.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

section.travel-section-video span.travel-video-title,
section.travel-section-video span.travel-choose-us-title {
    color: #ffffff;
}

.choose-us {
    background: #00000080;
}

.travel-video,
.choose-us {
    border-radius: 10px;
    padding: 25px;
}

section.travel-section-video h3 {
    padding-bottom: 30px;
    font-family: 'Alegreya SC', serif;
    font-weight: 600;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    text-align: center;
}

section.travel-section-video p {
    color: white;
    text-align: justify;
    padding-bottom: 35px;
    letter-spacing: 0.5px;
    line-height: 20px;
}

section.travel-section-video .various {
    display: block;
    text-align: center;
    color: #64abc9 ! important;
    width: 30%;
    margin: 0 auto;
}

section.travel-section-video i.far.fa-play-circle {
    font-size: 6rem;
    color: #ffffff;
}

section.travel-section-video i.far.fa-play-circle:hover {
    color: #FAB713;
}


/* //TRAVELIN A VIDEO */


/* WHY CHOOSE US */

a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}

#accordion .panel {
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin: 0 30px 5px;
    position: relative;
    margin-right: 0;
}

#accordion .panel:after {
    border-left: none;
    border-right: 25px solid #fff;
    left: auto;
    right: 0;
}

#accordion .panel-heading {
    padding: 0;
    position: relative;
}

#accordion .panel-title a {
    display: block;
    padding: 10px 60px 10px 40px;
    background: #01499E ! important;
    font-size: 14px;
    letter-spacing: 1px;
    color: #fff;
    position: relative;
}

#accordion .panel-title a:hover {
    background-color: #E61D20 ! important;
}

#accordion .panel-title a:before,
#accordion .panel-title a.collapsed:before {
    content: "\f106";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 14px;
    color: #fff;
    position: absolute;
    top: 15px;
    right: 40px;
    transition: all 0.3s ease 0s;
}

#accordion .panel-title a.collapsed:before {
    content: "\f107";
    top: 12px;
}

#accordion .panel-body {
    padding: 10px 30px 0;
    border-top: none;
    font-size: 15px;
    color: #5c4f4f;
    line-height: 28px;
    letter-spacing: 0.5px;
}

div#accordion {
    margin-top: 10px;
}

.panel.panel-default {
    margin-left: 0 ! important;
}


/* //WHY CHOOSE US */


/* BEST SELLING PACKAGES */

section.travel-best-packages {
    background-color: #E5ECF5;
    padding: 35px 0;
}

.card-best-package {
    position: relative;
    border: 1px solid #eee;
    margin-bottom: 30px;
}

section.travel-best-packages .card-best-package img {
    height: 200px;
    display: block;
    object-fit: cover;
    width: 100%;
}

h5.trip-title {
    color: #e99523;
    font-size: 18px;
    font-family: sans-serif;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #000000ad;
    width: 100%;
    margin-bottom: 0;
    padding: 8px 10px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    text-transform: capitalize;
}

.pop-trip-detail {
    background: #133751de;
    position: absolute;
    width: 90%;
    height: 85%;
    top: 8%;
    right: 5%;
    padding: 15px 15px;
    transition: .1s ease;
    visibility: hidden;
}

.card-best-package:hover h5.trip-title {
    visibility: hidden;
}

.card-best-package:hover .pop-trip-detail {
    visibility: visible;
    width: 100%;
    height: 100%;
    top: 0%;
    right: 0%;
    animation: bounce 1s alternate;
}

h5.inner-trip-title {
    color: #FAB713;
    margin-bottom: 12px;
    text-transform: capitalize;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}

h6.trip-duration {
    margin-bottom: 12px;
    color: #ffffff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}

p.trip-price {
    color: #ffffff;
    margin-bottom: 12px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}

a.btn-button {
    display: block;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    background-color: #01499E;
    padding: 5px 10px;
    color: #ffffff;
    border-radius: 5px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}

a.btn-button:hover {
    background-color: #E61D20;
}


/* //BEST SELLING PACKAGES */


/* TESTIMONIALS */

section.testimonials {
    padding: 35px 0;
}

h3.travel-section-customer-saying,
h3.travel-section-contact {
    font-family: 'Alegreya SC', serif;
    font-weight: 600;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    text-align: center;
}

h3.travel-section-customer-saying:before {
    position: absolute;
    content: '';
    height: 3px;
    width: 10%;
    background-color: #E61D20;
    left: 16%;
    top: 3%;
}

h3.travel-section-customer-saying:after {
    position: absolute;
    content: '';
    height: 3px;
    width: 10%;
    background-color: #E61D20;
    right: 16%;
    top: 3%;
}

section.testimonials .testimonials-background-img {
    padding: 35px 35px;
    background: #00000080;
    background-blend-mode: multiply;
    background-image: url('http://travel.maheswor.com.np/travel/wp-content/uploads/2019/08/Himalayan_Range.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    box-shadow: 1px 1px 22px -2px rgba(0, 0, 0, 0.75);
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
}

.testimonials-avataar {
    display: flex;
}

section.testimonials .testimonials-background-img img {
    height: 125px;
    width: 125px;
    margin: 0 auto;
    border: 3px solid #ffffff;
    border-radius: 50%;
}

section.testimonials .testimonials-background-img p {
    border-radius: 5px;
    background-color: #01499E;
    box-shadow: 1px 1px 22px -2px rgba(0, 0, 0, 0.75);
    color: #ffffff;
    text-align: justify;
    font-size: 12px;
    padding: 25px;
    letter-spacing: 0.5p;
    line-height: 20px;
    margin-top: 25px;
}

#testi button.owl-prev {
    position: absolute;
    top: 45%;
    left: -12%;
    outline: none;
    height: 40px;
    width: 40px;
    color: #ffffff;
    border-radius: 50%;
    background-color: #FAB713;
}

#testi button.owl-next {
    position: absolute;
    top: 45%;
    right: -12%;
    outline: none;
    height: 40px;
    width: 40px;
    color: #ffffff;
    border-radius: 50%;
    background-color: #FAB713;
}


/* //TESTIMONIALS*/


/* CONTACT US*/

h3.travel-section-contact:before {
    position: absolute;
    content: '';
    height: 3px;
    width: 10%;
    background-color: #E61D20;
    left: 25%;
    top: 3%;
}

h3.travel-section-contact:after {
    position: absolute;
    content: '';
    height: 3px;
    width: 10%;
    background-color: #E61D20;
    right: 25%;
    top: 3%;
}

.travel-contact-form {
    background: #00000080;
    background-blend-mode: multiply;
    background-image: url('http://travel.maheswor.com.np/travel/wp-content/uploads/2019/08/Himalayan_Range.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    box-shadow: 1px 1px 22px -2px rgba(0, 0, 0, 0.75);
    border-top-right-radius: 45px;
    border-bottom-right-radius: 45px;
}

.travel-contact-form form {
    font-size: 14px;
    padding: 33px;
}

.travel-contact-form form label {
    color: #ffffff;
    font-family: 'Roboto', 'sans-serif';
}

.travel-contact-form form textarea.form-control {
    height: 110px;
}

.travel-contact-form form button.btn.btn-primary.btn-block {
    font-family: 'Roboto', 'Sans-serif';
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}


/* //CONTACT US*/


/* TRAVEL FOOTER */

section.travel-footer {
    background-color: #01499E;
    padding-top: 35px;
}

section.travel-footer h5 {
    color: #ffffff;
    font-family: 'Alegreya SC', serif;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 15px;
}

section.travel-footer .travel-footer-box ul li {
    list-style-type: none;
    padding-bottom: 10px;
}

section.travel-footer .travel-footer-box ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    font-family: 'roboto', 'sans-serif';
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    font-weight: 400;
}

section.travel-footer .travel-footer-box ul li a:hover {
    color: #FAB713;
    cursor: pointer;
}

section.travel-footer li.footer-social-icons {
    display: inline-block;
}

section.travel-footer li.footer-social-icons i:before {
    font-size: 25px;
}

section.travel-footer .travel-footer-box ul li i {
    font-size: 14px;
    padding-right: 5px;
}

section.travel-footer .travel-footer-box ul li {
    list-style-type: none;
    font-family: 'roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    color: white;
}

section.travel-footer .travel-footer-box ul li a.inquiry-btn {
    background-color: #FAB713;
    color: #ffffff;
    font-size: 12px;
    padding: 10px 13px;
}

section.travel-footer .travel-footer-box ul li a.inquiry-btn:hover {
    background-color: #E61D20;
}

section.travel-footer .travel-footer-box ul li.travel-footer-inquery-btn {
    padding: 15px 0;
}

section.travel-footer .travel-footer-copyright {
    background-color: #0000004d;
    padding: 10px 0;
    margin-top: 30px;
}

section.travel-footer .travel-footer-copyright a {
    color: #ffffff;
}

section.travel-footer .travel-footer-copyright a:hover {
    color: #FAB713;
    text-decoration: none;
}

section.travel-footer .travel-footer-copyright p {
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    text-align: center;
    color: #ffffff;
    font-family: 'roboto', sans-serif;
    font-size: 12px;
}

section.travel-footer .affiliation,
section.travel-footer .payment-method {
    text-align: center;
}

.affiliation h6,
.payment-method h6 {
    color: #ffffff;
    font-family: 'Alegreya SC', serif;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    font-weight: 600;
}

.affiliation ul,
.payment-method ul {
    list-style-type: none;
}

.affiliation ul li,
.payment-method ul li {
    display: inline-block;
}

.affiliation ul li img,
.payment-method ul li img {
    height: 45px;
    width: 65px;
}

.copyright {
    margin-top: 15px;
    background-color: black;
    padding: 0;
}

.footer-copyright {
    text-align: center;
    padding: 15px;
}

.footer-copyright a {
    color: #ffffff ! important;
}

.footer-copyright a:hover {
    color: #FAB713 ! important;
    text-decoration: none;
}


/* //TRAVEL FOOTER */


/* SINGLE PAGE-TRAVEL PACKAGE */

section.site-section-wrap {
    background-color: #F2F2F2;
    padding: 35px 0;
}

section.site-section-wrap .package-title {
    background: #fff;
    padding: 20px;
    position: relative;
}

section.travel-banner {
    background: #00000080;
    background-blend-mode: multiply;
    background-image: url('http://travel.maheswor.com.np/travel/wp-content/uploads/2019/07/travel-banner-full-width.png');
    min-height: 300px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50%;
}

.banner-text {
    padding: 125px 0 0;
}

.banner-text h1 {
    font-family: 'Anton', sans-serif;
    font-size: 30px;
    color: #ffffff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    text-transform: uppercase;
    margin: 0;
}

nav.breadcrumbs {
    color: #fff;
    font-size: 14px;
    font-family: 'Roboto', 'Sans-serif';
    text-transform: uppercase;
}

nav.breadcrumbs ul {
    padding-left: 0;
    padding-top: 15px;
}

nav.breadcrumbs li {
    display: inline;
    display: inline-block;
    vertical-align: middle;
    margin: -5px 2px 0;
}

nav.breadcrumbs li a {
    color: #ffffff;
}

nav.breadcrumbs li a:hover {
    color: #FAB713;
}

nav.breadcrumbs ul li+li:before {
    padding: 8px;
    color: #ffffff;
    content: "/\00a0";
}

.site-left-wrap h1.summary-head {
    text-transform: uppercase;
    padding-bottom: 15px;
    font-family: 'Anton', sans-serif;
    font-size: 30px;
    letter-spacing: 1.1px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    text-transform: uppercase;
}

.site-left-wrap .package-post-img {
    position: relative;
}

.site-left-wrap .package-post-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.video-play {
    left: 10%;
    position: absolute;
    content: '';
    bottom: 23%;
}

.video-play a {
    color: #ffffff ! important;
    border: 1px solid #ffffff;
    padding: 5px 10px;
}

.social-sharing {
    margin-top: 20px;
}

.social-sharing ul {
    list-style-type: none;
}

.social-sharing ul li {
    display: inline-block;
}

.social-sharing ul li:first-child {
    padding: 5px 10px;
    background-color: #3b5998;
}

.social-sharing ul li:last-child {
    padding: 5px 10px;
    background-color: #00acee;
}

.social-sharing ul li i {
    font-size: 20px;
    color: #ffffff;
}

.tab-content {
    padding: 25px;
    margin-top: 20px;
    background-color: #ffffff;
}

.tab-content h4 {
    font-family: 'Roboto', 'sans-serif';
}

#more {
    display: none;
}

.overview-details {
    margin-top: 10px;
    text-align: center;
}

span#Btn {
    cursor: pointer;
    text-align: center;
}

.lSSlideOuter .lSPager.lSGallery img {
    display: block;
    height: 90px ! important;
    object-fit: cover;
    max-width: 100%;
}


/* //SINGLE PAGE-TRAVEL PACKAGE */

.overview p.overview-desc {
    font-family: 'Roboto', 'sans-serif' ! important;
    color: #808080d1;
    font-size: 14px;
    margin-top: 10px;
    line-height: 2;
    text-align: justify;
    letter-spacing: 0.5px;
    text-align: justify ! important;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}


/* Style the buttons inside the tab */

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}


/* Change background color of buttons on hover */

.tab button:hover {
    background-color: #ddd;
}


/* Create an active/current tablink class */

.tab button.active {
    background-color: #ccc;
}


/* Style the tab content */

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.tab button.tablinks {
    font-family: 'Roboto', 'sans-serif';
    font-size: 17px;
}

.cost-included ul,
.cost-excluded ul {
    margin-top: 10px;
}

.cost-included ul li,
.cost-excluded ul li {
    list-style-type: none;
    color: #808080d1;
    font-size: 15px;
    font-family: 'Roboto', 'sans-serif';
    letter-spacing: 0.5px;
    line-height: 2;
}

.cost-included ul li:before {
    font-family: "Font Awesome 5 Free";
    content: "\f058";
    padding: 0 15px 0 0;
    color: #FAB713;
    left: 0;
}

.cost-excluded ul li:before {
    font-family: "Font Awesome 5 Free";
    content: "\f057";
    color: #FAB713;
    padding: 0 15px 0 0;
    left: 0;
}

.cost-excluded {
    margin-top: 10px;
}

@media(max-width:992px) {
    .wrapper {
        width: 100%;
    }
}

.itinerary .panel-heading {
    padding: 0;
    border: 0;
}

.itinerary .panel-title>a,
.panel-title>a:active {
    display: block;
    padding: 15px;
    color: #555;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
    text-decoration: none;
}

.itinerary .panel-heading a:before {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    transition: all 0.5s;
}

.itinerary .panel-heading.active a:before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}

.nopadd {
    padding: 0;
}

.nopadd form.form-horizontal {
    margin-top: 10px;
}

form.form-horizontal label.nopadd {
    position: relative;
}

form.form-horizontal button.btn.btn-warning.btn-md {
    color: #fff ! important;
}

form.form-horizontal label.nopadd:after {
    position: absolute;
    content: '\*';
    bottom: 0;
    color: #E61D20;
}

.sidebar-tab1,
.sidebar-tab2,
.sidebar-tab3,
.sidebar-tab4,
.sidebar-tab5 {
    background: #fff;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #eee;
}

.book-now {
    margin: 0 0 20px 0;
}

a.book-now {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    background: #FAB713;
    padding: 14px;
    display: block;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    color: #fff;
    border: 2px solid #FAB713;
}

a.book-now:hover {
    background-color: #ffffff;
    color: #FAB713;
}

.sidebar-tab1 h5 {
    color: #555;
    font-size: 18px;
    margin: 0;
    font-family: 'Roboto', 'sans-serif';
}

.sidebar-price {
    float: right;
}

.sidebar-price h3 {
    color: #e40404;
}

.sidebar-tab1 h6 {
    margin: 0;
    font-family: sans-serif;
    padding: 10px 0 10px 0;
    color: #FAB713;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
}

table.group-discount thead tr th {
    font-size: 17px;
    color: #808080cc;
    font-family: 'Roboto', 'sans-serif';
}

table.group-discount td:last-child {
    font-size: 17px;
    font-family: 'Roboto', 'sans-serif';
    color: #FAB713;
}

.sidebar-tab1 input[type=date] {
    padding: 5px 10px!important;
    margin-bottom: 15px;
    margin-top: 10px;
}

.btn-trip-sidebar,
.btn-quick-inquiry-sidebar {
    background: #FAB713;
    color: #fff ! important;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    padding: 6px;
    font-family: 'Roboto', 'Sans-serif';
}

.sidebar-title {
    font-size: 22px;
    font-family: 'Roboto', 'sans-serif';
    margin-bottom: 20px;
}

.group-size {
    position: relative;
    padding-left: 70px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.group-size h6 {
    margin-bottom: 3px;
    font-size: 18px;
    font-family: 'Roboto', 'sans-serif';
}

.sidebar-tour-details .col-lg-12:last-child .group-size {
    border-bottom: unset;
}

.group-size h6:last-child {
    color: #FAB713;
    font-style: italic;
    font-size: 17px;
    font-family: 'Roboto', 'sans-serif';
}

.group-size.aa:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    margin-top: 2px;
    font-size: 35px;
    left: 2px;
    top: 8px;
    content: '\f0c0';
    color: #383636;
}

.group-size.bb:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    margin-top: 2px;
    font-size: 35px;
    left: 2px;
    top: 8px;
    content: '\f6fc';
    color: #383636;
}

.group-size.cc:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    margin-top: 2px;
    font-size: 35px;
    left: 2px;
    top: 8px;
    content: '\f21e';
    color: #383636;
}

.group-size.dd:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    margin-top: 2px;
    font-size: 35px;
    left: 2px;
    top: 8px;
    content: '\f57e';
    color: #383636;
}

.group-size.ee:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    margin-top: 2px;
    font-size: 35px;
    left: 2px;
    top: 8px;
    content: '\f5a0';
    color: #383636;
}

input.wpcf7-form-control.wpcf7-submit.btn.btn-primary.btn-block {
    padding: 10px;
    color: #fff;
    background-color: #01499E;
    font-size: 17px;
    font-family: Roboto;
    border: none;
}

input.wpcf7-form-control.wpcf7-submit.btn.btn-primary.btn-block:hover {
    background-color: #E61D20;
}

.sidebar-img {
    margin-bottom: 10px;
}

.sidebar-img img {
    margin-bottom: 5px;
    height: 120px;
    width: 100%;
    object-fit: cover;
}

.sidebar-img a {
    color: #000;
    text-decoration: none;
}


/* SINGLE PAGE-CATEGORY */

.travel-category-banner {
    background: #00000080;
    background-blend-mode: multiply;
    background-image: url('http://travel.maheswor.com.np/travel/wp-content/uploads/2019/07/categoty-banner.jpg');
    min-height: 300px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50%;
}

section.category-wrapper {
    padding: 35px 0;
}

.category-sidebar-left {
    margin-bottom: 20px;
}

.category-sidebar-left h3 {
    margin-bottom: 0;
    background: #01499E;
    color: #fff;
    padding: 5px 15px;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
}

.lSSlideWrapper {
    width: 100%;
    height: 360px;
    object-fit: cover;
}

.category-sidebar-left1,
.category-sidebar-left2,
.category-sidebar-left3,
.category-sidebar-left5 {
    border: 1px solid #eee;
    padding: 15px;
    background: #fff;
    box-shadow: 0px 9px 10px -7px #00000042;
}

.category-sidebar-left1 form .form-control {
    margin-bottom: 5px;
}

input.btn-orange {
    display: block;
    width: 100%;
    background-color: #FAB713;
    color: #fff;
    font-size: 1rem;
    outline: none;
    font-family: 'Roboto', 'sans-serif';
    text-transform: uppercase;
    border: none;
}

.category-sidebar-left2 {
    padding-top: 0;
    padding-bottom: 0;
}

.category-sidebar-left2 .popular-trips {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    padding-top: 10px;
}

.category-sidebar-left2 .popular-trips:hover {
    background-color: #ddd;
}

.category-sidebar-left2 .popular-trips img {
    height: 50px;
    object-fit: cover;
}

.category-sidebar-left2 h4 {
    font-size: 14px;
    margin-bottom: 5px;
}

.category-sidebar-left2 h5 {
    font-size: 14px;
    color: #e51010;
    margin-bottom: 0;
}

.category-sidebar-left2 h5 span,
.category-sidebar-left2 h4 a {
    color: #383636;
}

.category-tours {
    background: #fff;
    border-top: none;
    border: 1px solid #eee;
    padding: 15px;
}

.category-title {
    background: #01499E;
    padding: 6px 15px;
}

.category-title h3 {
    margin-bottom: 0;
    font-size: 22px;
    color: #f7f7f7;
}

.category-tours .col-lg-4:nth-child(1) .category-tours-list,
.category-tours .col-lg-4:nth-child(2) .category-tours-list,
.category-tours .col-lg-4:nth-child(3) .category-tours-list {
    margin-top: 0;
}

.category-tours-list {
    border: 1px solid #eee;
    margin-top: 25px;
}

.category-tours-list:hover {
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
    transition: .4s;
}

.category-tours-list:hover .img-hoverable .img-category-price {
    position: absolute;
    visibility: visible;
    top: 0;
    left: 0;
    color: #e51010;
    font-size: 14px;
    font-family: 'Roboto', 'sans-serif';
    width: 100%;
    height: 100%;
    font-weight: 600;
    transition: .1s ease-in-out;
}

.category-tours-list:hover .img-hoverable img {
    opacity: 0.3;
    filter: alpha(opacity=30);
}

.category-tours-list .row {
    padding: 0 15px;
}

.img-hoverable {
    position: relative;
}

.img-hoverable a {
    display: block;
}

.img-hoverable img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.img-hoverable .img-category-price {
    position: absolute;
    visibility: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.category-tours-list-title {
    padding-left: 10px !important;
    padding: 5px;
    font-size: 17px;
    margin-bottom: 0;
}

.category-tours-list-title a {
    color: #383636;
}

.category-tours-list-duration {
    font-size: 13px;
    padding-left: 10px;
    color: #FAB713;
    margin-bottom: 8px;
}

.category-tours-list .row {
    padding: 0 15px;
}

.category-tours-list .row a {
    text-align: center;
    display: block;
    color: #777;
    font-size: 14px;
    font-family: "Roboto", "sans-serif";
    padding: 3px 5px;
    border-top: 1px solid #eee;
}

.category-tours-list .row .col-6 {
    padding: 0;
}

.category-tours-list .row .col-6:first-child a {
    border-right: 1px solid #eee;
}


/* //SINGLE PAGE-CATEGORY */


/* SINGLE PAGE-BOOKING */

.booking-form h3 {
    font-size: 24px;
    margin-bottom: 0;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
}

.booking-form label {
    display: inline-block;
    margin-bottom: 0;
    font-family: 'Roboto', 'sans-serif';
    margin-top: 20px;
}

.m-t3 {
    margin: 30px 0 0 0;
}

.booking-form input[type=submit] {
    color: #fff;
    background: #FAB713;
    border: 2px solid #FAB713;
    font-size: 16px;
    margin-top: 20px!important;
    margin: 0;
    text-transform: uppercase;
}

.booking-form input.form-control,
.booking-form select.form-control,
.booking-form form textarea {
    border: none;
    border-radius: 0;
}


/* //SINGLE PAGE-BOOKING */


/* SINGLE PAGE-CONTACTUS */

#success-message {
    opacity: 0;
}

.col-xs-12.col-sm-12.col-md-12.col-lg-12 {
    padding: 0 20% 0 20%;
}

.margin-top-25 {
    margin-top: 25px;
}

.form-title {
    padding: 0 25px 25px 0;
    font-size: 30px;
    font-weight: 300;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.form-group .form-control {
    -webkit-box-shadow: none;
    border-bottom: 1px;
    border-style: none none solid none;
    border-radius: 0;
    border-color: #01499E;
}

.form-group .form-control:focus {
    box-shadow: none;
    border-width: 0 0 2px 0;
    border-color: #000;
}

textarea {
    resize: none;
}

.btn-mod.btn-large {
    height: auto;
    padding: 13px 52px;
    font-size: 15px;
}

.btn-mod.btn-border {
    color: #01499E;
    border: 1px solid #01499E;
    background: transparent;
}

.btn-mod,
a.btn-mod {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 4px 13px;
    color: #fff;
    background: rgba(34, 34, 34, .9);
    border: 1px solid transparent;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -moz-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -o-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}

.btn-mod.btn-border:hover,
.btn-mod.btn-border:active,
.btn-mod.btn-border:focus,
.btn-mod.btn-border:active:focus {
    color: #fff;
    border-color: #000;
    background: #000;
    outline: none;
}

@media only screen and (max-width: 500px) {
    .btn-mod.btn-large {
        padding: 6px 16px;
        font-size: 11px;
    }
    .form-title {
        font-size: 20px;
    }
}

section.travel-contact {
    padding: 35px 0;
    background-color: #F2F2F2;
}

section.travel-contact .travel-map {
    border-bottom-right-radius: 35px;
    border-top-right-radius: 35px;
    border: 2px solid #01499E ! important;
    padding: 20px;
    border-left: none ! important;
}

section.travel-contact .travel-contact {
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    padding: 20px;
    border: 2px solid #01499E;
    border-right: none;
}

.travel-contact-box {
    box-shadow: 0px 9px 10px -7px #00000042;
    margin-top: 35px;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
}

.travel-contact-box.contact-box1 {}

.travel-contact-box ul {
    list-style-type: none;
}

.travel-contact-box ul li i {
    font-size: 50px;
    background-color: #01499E;
    padding: 11px;
    color: #fff;
}

.travel-contact-box ul li:last-child {
    font-size: 16px;
    font-family: 'Roboto', 'sans-serif';
}


/* //SINGLE PAGE-CONTACTUS */


.trip-details {
    background: #f2f2f2;
    padding: 3% 0
}

.trip-left .trip-title {
    background: #fff;
    padding: 20px 25px;
    position: relative
}

.extra-details li {
    list-style-type: none;
    display: inline-block;
    margin-right: 15px;
    color: #00489e;
    font-weight: 500
}

.extra-details li i {
    margin-right: 7px
}

.trip-img img {
    height: 400px;
    object-fit: cover;
    width: 100%
}

.lSSlideOuter .lSPager.lSGallery img {
    height: 100px!important;
    object-fit: cover
}
.trip-highlights {
    margin-top: 30px;
}

.tab-content {
    padding: 25px 25px 23px;
    margin: 0 0 25px;
    background: #fff
}

.trip-left .title-text {
    background: #FAB713;
    font: 700 14px/20px Roboto;
    display: inline-block;
    vertical-align: top;
    position: relative;
    color: #fff;
    padding: 5px 17px 3px 10px;
    margin: 5px 0 17px
}

.trip-left .title-text:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 8px 15px 0;
    border-color: transparent #fff transparent;
    position: absolute;
    top: -2px;
    right: 0
}

.trip-left .social-share {
    float: right
}

.trip-left .social-share li {
    list-style-type: none;
    display: inline-block;
    margin-right: 5px
}

.trip-left .social-share li a {
    color: #000;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    display: block
}

.highlight-lists {
    margin-bottom: 15px
}

.highlight-lists li {
    list-style-type: none;
    font-family: Roboto, sans-serif;
    color: #2a3439;
    line-height: 30px;
    font-size: 17px;
    padding-left: 30px;
    position: relative
}

.highlight-lists li:before {
    font-family: "Fontawesome";
    font-weight: 400;
    content: "\f0a4";
    margin-right: 10px;
    font-size: 16px;
    color: #215d05;
    position: absolute;
    left: 0
}

.trip-left .social-share li:nth-child(1) {
    font-weight: 500
}

.tab-desc {
    max-height: 210px;
    overflow: hidden;
    position: relative
}

.tab-desc p {
    color: #2a3439;
    font-family: helvetica, sans-serif;
    text-align: justify
}

.tab-desc-link {
    text-align: center;
    z-index: 2
}

.tab-desc-link a {
    color: #f48210;
    font-weight: 500
}

.tab-desc-link a:hover {
    text-decoration: underline
}

.tab-desc.open {
    max-height: none
}

.trip-review {
    background: #fff;
    padding: 25px;
    margin-bottom: 25px
}

.trip-review span {
    font-size: 18px;
    color: #777
}

.reviews {
    margin-top: 15px
}

.reviews li {
    display: inline-block
}

.reviews li i.fa-star {
    color: #ffaf00;
    font-size: 20px
}

li.reviews-title {
    background: #046c61;
    color: #fff;
    padding: 2px 11px;
    margin: 0 5px 0 13px;
    font-weight: 500;
    border-radius: 3px;
    position: relative
}

.reviews-title:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 6px 6px 0;
    border-color: transparent #046c61 transparent transparent;
    position: absolute;
    right: 100%;
    top: 50%;
    margin: -6px 0 0
}

.border-seperator {
    background-color: #eee;
    margin: 20px 0 10px 0
}

.review-details {
    border-bottom: 1px solid #eee;
    padding: 15px 0
}

.trip-review .col-lg-12:last-child .review-details {
    border-bottom: unset
}

.review-details h4 {
    font-size: 20px;
    margin: 0
}

.review-details .reviews {
    margin-top: 5px!important
}

.review-details .reviews li i.fa-star {
    font-size: 16px!important
}

.review-details .reviews li span {
    font-size: 15px;
    margin-left: 10px
}

.review-details p {
    color: #777;
    margin-top: 5px;
    margin-bottom: 0
}

.review-name li {
    display: inline-block;
    padding: 0 5px;
    color: #777;
    font-size: 14px
}

.review-name li:first-child {
    padding-left: 0
}

.review-name li:before {
    content: " ";
    position: absolute;
    height: 13px;
    width: 1px;
    background: #ccc;
    top: 45px;
    margin-left: -7px
}

.review-name li:first-child::before {
    content: unset
}

.review-details p span {
    color: #383636
}

.sidebar-tab1,
.sidebar-tab2,
.sidebar-tab3,
.sidebar-tab4,
.sidebar-tab5,
.sidebar-tab6,
.sidebar-tab7{
    background: #fff;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #eee
}

.side-rel img{
    margin-bottom: 5px;
    height: 120px;
    width: 100%;
    object-fit: cover;
}
.side-rel a{
    color:#000;
    text-decoration: none;
}

.sidebar-title {
    font-size: 22px;
    font-family: Roboto;
    margin-bottom: 20px
}

.sidebar-price {
    float: right
}

.book_now {
    margin: 0 0 20px 0
}

.book-now {
    font-size: 22px;
    font-weight: 600;
    line-height: 24px;
    background: #f16531;
    padding: 14px;
    display: block;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    color: #fff!important;
    border: 2px solid #f16531
}

.btn-form:hover {
    background: #235a37!important;
    border: 2px solid #235a37!important
}

.book-now:hover {
    background: 0 0;
    color: #f16531!important
}

.sidebar-tab1 h5 {
    color: #555;
    font-size: 18px;
    margin: 0;
    font-family: sans-serif
}

.sidebar-tab1 h3 {
    margin: 0;
    font-family: Roboto;
    font-weight: 600
}

.sidebar-tab1 h6 {
    margin: 0;
    font-family: sans-serif;
    padding: 5px 0 10px 0;
    color: #215d05;
    text-align: right;
    cursor: pointer;
    font-size: 17px
}

.sidebar-tab1 h6:hover {
    color: #046c61
}

.sidebar-price h3 {
    color: #e40404
}

.table td,
.table th {
    padding: .25rem!important;
    font-family: sans-serif
}

.form-control {
    border: 1px solid #ccc!important
}

.sidebar-tab1 input[type=text] {
    padding: 5px 10px!important;
    margin-bottom: 15px;
    margin-top: 10px
}

.form-control:focus {
    border: 1px solid #046c61!important;
    box-shadow: unset
}

input:focus,
textarea:focus {
    outline: 0
}

.quick-enquiry input[type=email],
.quick-enquiry input[type=text],
.quick-enquiry textarea {
    width: 100%;
    border-radius: 0;
    height: 36px;
    padding: 3px 15px;
    margin-bottom: 10px
}

.quick-enquiry textarea {
    height: 120px!important
}

.quick-enquiry input[type=submit] {
    height: 40px;
    width: 40%;
    padding: 0;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    background: #FAB713;
    border-radius: 0;
    border: 1px solid #FAB713;
    cursor: pointer
}

.btn-trip-sidebar:visited {
    color: #fff
}

.btn-trip-sidebar {
    background: #FAB713;
    color: #fff;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    padding: 6px
}

.btn-trip-sidebar:hover,
.quick-enquiry input[type=submit]:hover {
    color: #fff;
    background: #235a37;
    transition: .3s all
}

.group-discount {
    margin: 0
}

.group-discount th {
    border-bottom: unset!important
}

.group-discount td:last-child,
.group-discount th:last-child {
    text-align: right
}

.group-discount td:last-child {
    color: #046c61;
    font-size: 17px
}

.sidebar-review li {
    padding: 0 2px
}

.sidebar-review h3 span {
    font-style: italic;
    color: #f48210
}

.sidebar-review h5 {
    margin-bottom: 0;
    font-family: sans-serif;
    margin-top: 10px
}

.sidebar-review h5 span {
    color: #f48210
}

.support-menu {
    width: 100%
}

.support-menu li a {
    position: relative;
    padding-left: 30px;
    font-size: 18px;
    border-bottom: 1px dashed #eee;
    display: block;
    color: #777;
    padding-top: 5px;
    padding-bottom: 5px
}

.support-menu li:last-child a {
    border: none!important
}

.support-menu li a:hover {
    color: #255a36
}

.support-menu li a:before {
    content: '\f101';
    position: absolute;
    font-family: 'Fontawesome';
    font-weight: 900;
    margin-right: 5px;
    top: 5px;
    left: 0
}

.itinerary h3,
.itinerary h5 {
    margin: 0
}

.tab-content h3 {
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 0
}

.itinerary h5 {
    float: right;
    font-size: 18px;
    line-height: 24px;
    background: #FAB713;
    color: #fff;
    padding: 5px 10px
}

.itinerary h5 a {
    color: #046c61
}

.iti-lists {
    margin-top: 15px
}

.collapse-all,
.expand-all {
    cursor: pointer
}

.iti-lists h6 {
    margin: 0;
    position: relative;
    font-size: 17px;
    font-weight: 500;
    padding-left: 6%;
    padding-right: 4%;
    line-height: 22px;
    cursor: pointer
}

.iti-lists h6:hover {
    color: #f58d26
}

.iti-lists h6:before {
    font-family: "Fontawesome";
    font-weight: 400;
    content: '\f0fe';
    position: absolute;
    left: 0;
    top: 0px;
    color: #f58510;
    font-size: 22px;
}

.iti-lists .iti-collapse:before {
    font-family: "Fontawesome";
    font-weight: 400;
    content: '\f146';
    position: absolute;
    left: 0;
    top: 0px;
    color: #f58510;
    font-size: 22px;
}

.data-item,
.faq-item {
    margin: 8px 0;
    padding: 15px;
    border: 1px solid #ccc;
}
.side-rel {
    margin-bottom: 10px;
}
.iti-lists i {
    line-height: 25px;
    position: absolute;
    right: 0;
    top: 0
}

.clock:before {
    font-family: "Fontawesome";
    font-weight: 400;
    content: "\f017";
    margin-right: 5px;
    font-size: 14px
}

.hotel:before {
    font-family: "Fontawesome";
    font-weight: 900;
    content: "\f236";
    margin-right: 5px;
    font-size: 14px
}

.time-hotel li {
    display: inline-block;
    padding-right: 20px;
    font-weight: 500
}

.time-hotel li:before {
    color: #215d05
}

.faq-display,
.iti-display {
    padding-left: 25px;
    margin-top: 15px
}

.faq-display p,
.iti-display p {
    color: #555;
    text-align: justify;
    font-size: 16px;
    font-weight: 400;
    font-family: Helvetica, sans-serif;
    margin-top: 10px;
    margin-bottom: 0
}

.faq-display p {
    text-align: justify
}

.meals h4 {
    margin: 0;
    text-transform: uppercase;
    font-size: 22px
}

.meals h4:before {
    font-family: "Fontawesome";
    font-weight: 900;
    content: "\f2e7";
    margin-right: 10px;
    font-size: 20px;
    color: #215d05
}

.meals p:before {
    font-family: "Fontawesome";
    font-weight: 900;
    content: "\f00c";
    margin-right: 10px;
    font-size: 16px;
    color: #215d05
}

.meals p {
    padding-left: 30px;
    font-style: italic
}

.meals {
    margin-top: 15px
}

.excluded ul,
.included ul {
    margin-top: 10px;
    position: relative
}

.excluded ul li,
.included ul li {
    font-family: Helvetica;
    color: #383636;
    font-size: 17px;
    padding-left: 25px;
    padding-top: 4px;
    padding-bottom: 4px;
    list-style: none;
}

.excluded ul {
    margin-top: 0!important
}

.excluded ul li:before,
.included ul li:before {
    font-family: "Fontawesome";
    font-weight: 400;
    position: absolute;
    margin-top: 2px;
    font-size: 15px;
    left: 0
}

.included ul li:before {
    content: "\f058";
    color: #215d06
}

.excluded {
    margin-top: 15px
}

.excluded ul li:before {
    content: "\f057";
    color: #e40404
}

.tour-det {
    padding-left: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee
}

.sidebar-tour-details .col-12:last-child .tour-det {
    border-bottom: unset
}

.tour-det.aa:before {
    font-family: "Fontawesome";
    font-weight: 400;
    position: absolute;
    margin-top: 2px;
    font-size: 28px;
    left: 15px;
    content: '\f0c0';
    color: #383636
}

.tour-det.bb:before {
    font-family: "Fontawesome";
    font-weight: 400;
    position: absolute;
    margin-top: 2px;
    font-size: 28px;
    left: 15px;
    content: '\f1ae';
    color: #383636
}

.tour-det.cc:before {
    font-family: "Fontawesome";
    font-weight: 400;
    position: absolute;
    margin-top: 2px;
    font-size: 28px;
    left: 15px;
    content: '\f21e';
    color: #383636
}

.tour-det.dd:before {
    font-family: "Fontawesome";
    font-weight: 400;
    position: absolute;
    margin-top: 2px;
    font-size: 28px;
    left: 15px;
    content: '\f0ac';
    color: #383636
}

.tour-det.ee:before {
    font-family: "Fontawesome";
    font-weight: 400;
    position: absolute;
    margin-top: 2px;
    font-size: 28px;
    left: 15px;
    content: '\f278';
    color: #383636
}

.tour-det h6 {
    margin-bottom: 3px;
    font-size: 16px
}

.tc-wrapper {
    width: 85%;
    margin: 0 auto
}
.tour-det h5 {
    margin-bottom: 0;
    font-size: 16px;
    padding: 10px 0
}

.tour-det h6:last-child {
    color: #215d05;
    font-style: italic;
    font-size: 15px
}


section.fixed-tab {
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background: #fff;
    box-shadow: 0 0 24px #ccc;
    transition: 0.5s ease linear;
    visibility: hidden;
}
ul.scroller {
    display: flex;
    margin: 0 auto;
    width: 87%;
}
.scroller li {
    list-style: none;
    margin-right: 20px;
}
.scroller li a {
    color: #00489e;
}